.dialog {
    background: #FFFFFF;
    box-shadow: 0 2px 15px 0 rgba(0,0,0,0.06);
    border-radius: 6px;
    width: 725px;
    height: 440px;
}

.propertyName {
    font-family: Poppins-SemiBold;
    font-size: 16px;
    color: #222222;
    margin-top: 20px;

}

DialogContent TextField {
    width: 297px;
}
